
*{
    padding: 0; margin: 0; box-sizing: border-box;
}

    h1{
        font-family: 'Asap Condensed', sans-serif;
}
.carousel-item img{
    width: 100%;
    height: 80vh;
}

.card-body img{
min-width: 50%;
max-height: 200px;
}
.Tech{
    height: 50%;
}

.ph img{
    height: 500px;
}

a:hover {
    background-color: rgb(217, 214, 214);
  }